.container {
    display: flex;
    height: 470px;
    margin: 0 auto;
    width: 640px;
    text-align: left;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
    background: white;
    height: calc(100% - 40px);
    top: 110px;
    position: relative;
    width: 50%;
    text-align: center;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}


.right {
    background:#2B1A0A;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 50%;
    top: 95px;
    text-align: center;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
    font-size: 24px;
  }
}

p
{
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 12px;
}
input[type=submit]
{
	background-color: #FFFFFF ;
    color:#000000 ;
    border: 1px solid #223445;
    -moz-border-radius: 5px; 
	border-radius: 18px ;
    display:inline-block;
    width: 120px;
    height: 40px;
    -webkit-font-smoothing: antialiased;
	-webkit-border-radius: 5px;}
