@charset "utf-8";
/* CSS Document */

.box
{
    background-color:#AB6832;
    width: 620px;
	height:60px;
    border: 10px solid #1F0B03;
    padding: 50px;
    margin: 20px;
    text-align: center;
	 position: absolute;
  left: 23%;
}
.small_box
{
    width: 179px;
    height: 75px;
    background-color:#DFB78C;
    position: absolute;
    top: 40px;
    left: 50px;
}
.small_box2
{
	 width: 175px;
  	height: 75px;
	background-color: #DFB78C;
	position: absolute;
	top: 40px;
	left: 275px;
}
.small_box3
{
	 width: 175px;
  	height: 75px;
	background-color: #DFB78C;
	position: absolute;
	top: 40px;
	left: 500px;
}
a
{
	text-decoration: none;
}
